{% extends 'vora/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

    <style>
        .ckeditor {
            width: 100% !important
        }
        h2, p, form {
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}

  
<div class="container">
    <div class="row items-align-center text-align-center justify-content-center">
        <div class="col-xl-6 col-xxl-6">
            <div class="card">
                <h2>Delete Consultation</h2>
                <p>Are you sure you want to delete "{{ consultation.client_name }}"?</p>

                <form method="post" action="{% url 'vora:delete_student_consultation' consultation.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'vora:student_consultation_view' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
