{% extends 'vora/elements/layouts/admin.html' %}
{% load static %}

<!-- Additional Css -->
{% block additional_css  %}
<link rel="stylesheet" href="/static/vora/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/vora/vendor/datatables/css/jquery.dataTables.min.css" >
{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
    </ol>
</div>
<!-- row -->


<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Student Consultation</h4>
                <div class="d-flex">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display min-w850">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Number</th>
                                <th>Question</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consult in student_consultations %}
                            <tr>
                                <td>{{ consult.id }}</td>
                                <td>{{ consult.client_name }}</td>
                                <td>{{ consult.client_address }}</td>
                                <td>{{ consult.client_number }}</td>
                                <td>{{ consult.client_question|truncatewords:5|slice:":150"|safe }}</td>
                                <td>{{ consult.created_at }}</td>
                                <td>
                                    <a href="{% url 'vora:delete_student_consultation' consult.id %}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block additional_js  %}
<script src="/static/vora/vendor/apexchart/apexchart.js"></script>
    
<script src="/static/vora/vendor/datatables/js/jquery.dataTables.min.js"></script>

<script src="/static/vora/js/plugins-init/datatables.init.js"></script>
{% endblock %}