<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static widget_tweaks %}
    <meta charset="utf-8">
    <meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{{ dz_array.public.title }}" />
	<meta property="og:title" content="{{ dz_array.public.title }}" />
	<meta property="og:description" content="{{ dz_array.public.title }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
    <title>{{ dz_array.public.title }}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static dz_array.public.favicon %}">
    
    {% load custom_tags %}

    {% for cssurl in dz_array.pagelevel.vora.vora_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
  

    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="{% static 'vora/images/logo-full.png' %}" alt="">
									</div>
                                   



                                    {% if validlink %}
                                    <h3 class="text-center text-white mb-4">Reset password</h3>
                                   
                                    <form method="post">
                                      {% csrf_token %}
                                      {% if form.new_password1 and form.new_password2 %}
                                      <div class="mb-3">
                                         <div class="input-group transparent-append">
                                            
                                            {{ form.new_password1|attr:"class:form-control"|attr:"placeholder:Password"|attr:"id:dz-password"|attr:"type:password" }}
                                            <span class="input-group-text show-pass"> 
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                            </span>
                                         </div>
                                         <div class="text-danger w-100 d-block mt-1">
                                            {{ form.new_password1.errors }}
                                            </div>

                                      </div>
                                      <div class="mb-3">
                                         <div class="input-group transparent-append">
                                            
                                            {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Confirm Password"|attr:"id:dz-con-password"|attr:"type:password" }}
                                            <span class="input-group-text show-con-pass"> 
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                            </span>
                                         </div>
                                         <div class="text-danger w-100 d-block mt-1">
                                            {{ form.new_password2.errors }}
                                            </div>
                                      </div>
                                      {% endif %}
                                      
                                      
                                        <button type="submit" class="btn bg-white text-primary btn-block w-100 ">Save </button>
                                
                                    </form>


                                    
                                  {% else %}
                                    <p >
                                      The password reset link was invalid, possibly because it has already been used.
                                      Please request a new password reset.
                                    </p>
                                  {% endif %}






                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.pagelevel.vora.vora_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    {% block additional_js %}
    {% endblock %}
</body>
</html>