{% extends 'vora/elements/layouts/admin.html' %}
{% load static %}

{% block additional_css  %}

{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Settings</a></li>
    </ol>
</div>

<div class="row justify-content-center">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <div class="settings-form">
                    <h4 class="text-primary">Site Setting</h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
        
                        
                        <button class="btn btn-primary" type="submit">Update Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
        
    </div>
</div>
{% endblock content%}