{% extends 'frontend/partials/base_pages.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb border-0 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">
                        Upcoming Events
                        </h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>Contact</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->
<!-- UPCOMING EVENTS SECTION STARTS HERE -->
<section class="tl-3-events tl-3-section-spacing pb-50">
    <div class="container">
        <div class="tl-3-events-cards">
            <div class="row">
                {% for evt in events %}

                <div class="col-md-6">
                    <div class="tl-3-single-event">
                        <div class="tl-3-single-event-date">
                            <span class="date">{{ evt.event_date.day }}</span>
                            <span class="month-year">{{ evt.event_date|date:"F, Y" }}</span>
                        </div>

                        <div class="tl-3-single-event-txt">
                            <div class="tl-3-single-event-info">
                                <h6 class="tl-3-single-event-location">
                                    <i class="fa-regular fa-location-dot"></i> {{ evt.event_location }}
                                </h6>
                                <h6 class="tl-3-single-event-time">
                                    <i class="fa-regular fa-clock"></i> {{ evt.start_time }} - {{ evt.end_time }}
                                </h6>
                            </div>

                            <h3 class="tl-3-single-event-title"><a href="{% url 'frontend:event_detail' slug=evt.slug %}">{{ evt.title }}.</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- UPCOMING EVENTS SECTION ENDS HERE -->


<!-- PAGINATION START -->
<div class="container">
    <div class="tl-pagination tl-pagination-2 pb-120">
        {% if event.has_previous %}
        <a href="?page=1" class="tl-pagination-prev"><i class="fa-arrow-left fa-regular"></i></a>
    {% endif %}

    <ul class="page-numbers">
        {% comment %} <li><a href="#">01</a></li> {% endcomment %}
        {% for i in event.paginator.page_range %}
        {% if event.number == i %}
        <li><a href="#" class="active">{{i}}</a></li>
        {% else %}
            <li><a href="?page={{i}}" class="active">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        
    </ul>

    {% comment %} <ul class="page-numbers">
        {% for num in courses.paginator.page_range %}
            <li><a href="?page={{ num }}" {% if num == courses.number %}class="active"{% endif %}>{{ num }}</a></li>
        {% endfor %}
    </ul> {% endcomment %}

    {% if event.has_next %}
        <a href="?page={{ event.next_page_number }}" class="tl-pagination-next"><i class="fa-arrow-right fa-regular"></i></a>
    {% endif %}
    </div>
</div>
<!-- PAGINATION END -->
{% endblock content %}
