{% extends 'frontend/partials/base_pages.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">Event Details</h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>Event Details</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->


<!-- EVENT DETAILS START -->
<div class="tl-event-details-container pt-120 pb-120">
    <div class="container">
        <div class="row tl-event-details-row g-0">
            <div class="col-lg-8">
                <div class="tl-event-details-left">
                    <div class="tl-event-details-video">
                        <img src="{{ event.event_image.url }}" style="width: 800px; height: 350px; object-fit:cover"/>
                        {% comment %} <iframe src="https://www.youtube.com/embed/VqhDnaqhnd4?si=LL6xoZfjSJkMNNLJ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}

                        <h2 class="tl-event-details-title">{{ event.title }}.</h2>
                    </div>

                    <div class="tl-event-details-key-content tl-event-details-area">
                        <h3 class="tl-event-details-area-title">key Contents</h3>

                        <ul class="tl-event-details-key-content-list">
                            <li>Over 37 lectures and 55.5 hours of content!</li>
                            <li>Practical learning experience with live project work and examples.</li>
                            <li>LIVE PROJECT End to End Software Testing Training Included.</li>
                            <li>Have a portfolio of various data analysis projects.</li>
                            <li>Adapt your performance techniques and manage your audience throughout</li>
                            <li>Mentoring and troubleshooting and post-training support from Jason</li>
                        </ul>
                    </div>

                    <div class="tl-event-details-descr tl-event-details-area">
                        <h3 class="tl-event-details-area-title">Event Description</h3>

                        <p class="tl-event-details-descr-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ducimus possimus porro expedita itaque, praesentium illum aspernatur? Porro amet labore, aspernatur voluptates laudantium quas unde cupiditate repudiandae quos eius neque.</p>

                        <p class="tl-event-details-descr-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quo deleniti quae, dolorum aperiam aliquid aliquam, nihil cupiditate officiis ex ipsa? Molestias provident incidunt autem debitis ex, esse sed veritatis!</p>

                        <p class="tl-event-details-descr-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum unde ducimus soluta iusto nulla sint. Illum aperiam labore nemo fugit possimus laudantium, ab, mollitia perspiciatis ducimus laborum laboriosam culpa minus.</p>
                    </div>

                    <div class="tl-event-details-area">
                        <h3 class="tl-event-details-area-title">time left to book the event</h3>
                        <div id="tl-event-timer" class="tl-event-details-countdown-area"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="tl-event-details-right">
                    <div class="tl-event-details-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14594.225891803439!2d90.40120769790025!3d23.869878409703066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c3f68697e1c9%3A0x27c02ddb0b3592ef!2sUttara%20Party%20Center!5e0!3m2!1sen!2sbd!4v1693210261030!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="tl-event-details-contacts">
                        <ul class="tl-event-details-socials">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>

                        <a href="tel:123045058" class="tl-event-details-phone">
                            <i class="fa-regular fa-phone"></i>
                            {{ event.phone_number }}
                        </a>
                    </div>

                    <ul class="tl-event-details-infos">
                        <li class="tl-event-details-info"><span class="key">Event Date:</span><span class="value">{{ event.event_date }}</span></li>
                        <li class="tl-event-details-info"><span class="key">Start Time:</span><span class="value">{{ event.start_time|date:"g:i A" }}</span></li>
                        <li class="tl-event-details-info"><span class="key">End Time:</span><span class="value">{{ event.end_time|date:"g:i A" }}</span></li>
                        <li class="tl-event-details-info"><span class="key">Registered Participant:</span><span class="value">{{ event.registered_participants }}+</span></li>
                        {% comment %} <li class="tl-event-details-info"><span class="key">Skill level:</span><span class="value">Basic</span></li> {% endcomment %}
                    </ul>

                    <a href="#" class="tl-def-btn tl-3-def-btn tl-event-details-book-btn">Book Your Ticket</a>
                </div>

                <div class="tl-event-details-right tl-upcoming-events">
                    <h3 class="tl-upcoming-events-title">Upcoming Events</h3>
                    {% for event in latest_events %}
                    <div class="tl-upcoming-event">
                        <img class="tl-upcoming-event-img" src="{{ event.event_image.url }}" alt="event image">
                        <div class="tl-upcoming-event-txt">
                            <h4 class="tl-upcoming-event-title"><a href="{% url 'frontend:event_detail' slug=event.slug %}">{{ event.title }}.</a></h4>
                            <span class="tl-upcoming-event-location"><i class="fa-regular fa-location-dot"></i>{{ event.event_location }}</span>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- EVENT DETAILS END -->
{% endblock content %}