{% load static %}

{% block footer %}
<footer class="tl-footer tl-5-footer">
    <div class="tl-footer-top">
        <div class="container">
            <div class="row gy-5 justify-content-between">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="tl-footer-widget">
                        <a href="index.html" class="logo">
                            <img src="{% static 'frontend/assets/images/logos/logo-4.png' %}" alt="logo">
                        </a>

                        <p class="tl-footer-descr tl-5-footer-descr">Maurus herderite egret orca ac incident. Viramas at deque eu ipsum consenter commode egret t dam celestas beget mi.</p>

                        <ul class="tl-3-footer-socials tl-5-footer-socials">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 order-1 order-sm-2 order-lg-1">
                    <div class="row gy-5">
                        <div class="col-sm-4 col-6 col-xxs-12">
                            <div class="tl-footer-widget">
                                <h5 class="tl-footer-widget-title tl-5-footer-widget-title">Our Links</h5>
                                <ul class="tl-footer-links tl-5-footer-links">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Courses</a></li>
                                    <li><a href="#">Help Centre</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 col-xxs-12">
                            <div class="tl-footer-widget">
                                <h5 class="tl-footer-widget-title tl-5-footer-widget-title">Class</h5>
                                <ul class="tl-footer-links tl-5-footer-links">
                                    <li><a href="#">Programming</a></li>
                                    <li><a href="#">Art &amp; Design</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Engineering</a></li>
                                    <li><a href="#">Photography</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 col-xxs-12">
                            <div class="tl-footer-widget">
                                <h5 class="tl-footer-widget-title tl-5-footer-widget-title">Support</h5>
                                <ul class="tl-footer-links tl-5-footer-links">
                                    <li><a href="#">Help Centre</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contacts</a></li>
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">Private Police</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12 order-2 order-sm-1 order-lg-2">
                    <div class="tl-footer-widget">
                        <h5 class="tl-footer-widget-title tl-5-footer-widget-title">Get in touch</h5>

                        <ul class="tl-footer-links tl-5-footer-links tl-footer-contact-infos">
                            <li><a href="tel:8812354873654" class="tl-footer-number">(88)123 5487 3654</a></li>

                            <li>
                                <p class="tl-5-footer-address">681 Pompton Ave, Cedar Grove, NJ 5479 United States</p>
                            </li>

                            <li>
                                <ul class="tl-5-footer-gallery">
                                    <li>
                                        <a href="{% static 'frontend/assets/images/tl-5/campus-1.jpg' %}" data-fslightbox="footer-gallery">
                                            <img src="{% static 'frontend/assets/images/tl-5/campus-1.jpg' %}" alt="">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% static 'frontend/assets/images/tl-5/blog-1.jpg' %}" data-fslightbox="footer-gallery">
                                            <img src="{% static 'frontend/assets/images/tl-5/blog-1.jpg' %}" alt="">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% static 'frontend/assets/images/tl-5/blog-2.jpg' %}" data-fslightbox="footer-gallery">
                                            <img src="{% static 'frontend/assets/images/tl-5/blog-2.jpg' %}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-footer-bottom tl-5-footer-bottom">
        <div class="container">
            <p class="tl-5-copyright-txt m-0 text-center">Copyright © 2023 All Rights Reserved by Talim</p>
        </div>
    </div>
</footer>
{% endblock footer %}