{% load static %}
{% load static widget_tweaks %}

<style>
    li a {
        color: #ffffff;
    }
    ::placeholder{
      font-size: 11px;
    }
</style>
{% block modal %}
<!-- Modal -->
<div class="modal" id="getQuoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Get a Consultation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Consultation Form -->
          <form method="post" action="{% url 'frontend:consultation' %}">
            {% csrf_token %}
            
            <div class="form-group mb-7">
              <label for="client-name">Name</label>
              <input type="text" name="client-name" class="form-control" id="consult-client-name" placeholder="Input Name">
            </div>
            <div class="form-group mb-7">
              <label for="client-email">Email</label>
              <input type="email" name="client-email" class="form-control" id="consult-client-email" placeholder="Input Email">
            </div>
            <div class="form-group mb-7">
              <label for="client-country">Country</label>
              <input type="text" name="client-country" class="form-control" id="consult-client-country" placeholder="Input Country">
            </div>
            <div class="form-group mb-7">
              <label for="client-name">Address</label>
              <input type="text" name="client-address" class="form-control" id="consult-client-address" placeholder="Input Address">
            </div>
            <div class="form-group mb-7">
              <label for="client-name">Number</label>
              <input type="tel" name="client-number" class="form-control" id="consult-client-number" placeholder="Input Number">
            </div>
            <div class="form-group mb-7">
              <label for="program">Program</label>
              <select name="program" class="form-control" id="program">
                <option value="" selected disabled>Select Program</option>
                  {% for program in programs %}
                  <option value="{{ program.pk }}">{{ program.program_name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group mb-7">
              <label for="course">Course</label>
              <select name="course" class="form-control" id="course">
                <option value="" selected disabled>Select Course</option>
                  {% for course in courses %}
                  <option value="{{ course.pk }}">{{ course.course_name }}</option>
                  {% endfor %}
              </select>
          </div>
            <div class="form-group mb-7">
              <label for="client-name">Subject</label>
              <input type="text" name="client-subject" class="form-control" id="consult-client-subject" placeholder="Input subject">
            </div>

            <div class="form-group">
              <label for="client-name">Your Question</label>
              <textarea name="client-ques" class="form-control" rows="5" id="consult-client-ques" placeholder="Input Your Question"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-7">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock modal %}


</script>


  