{% load static %}
<style>
    li a {
        color: #ffffff;
    }
</style>
{% block header %}
<div class="tl-header tl-1-header">
    
    <div class="tl-1-header-bottom pt-20 pb-20" data-bg-color="var(--black-5)">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-6">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'frontend/assets/images/logo/sakacom-logo.png' %}" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex justify-content-end col-6">
                            <button class="tl-hamburger navbar-toggler">
                                <i class="icofont-navigation-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="tl-nav-menu tl-1-nav-menu">
                        <ul class="justify-content-center">
                            <li class="tl-nav-item tl-dropdown">
                                <a href="{% url 'frontend:all_programs' %}" role="button">
                                    Programs <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    {% for program in links %}
                                    <li style="text-transform:capitalize"><a href="{{program.get_url}}">{{ program.program_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-dropdown">
                                <a href="{% url 'frontend:all_programs' %}" role="button">
                                    Services <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li><a href="#">Service one</a></li>
                                    <li><a href="">Service two</a></li>
                                    <li><a href="#">Service Three</a></li>
                                </ul>
                            </li>
                            <li class="tl-nav-item"><a href="{% url 'frontend:event_page' %}">Events</a></li>
                            {% comment %} <li class="tl-nav-item"><a href="#">Blog</a></li> {% endcomment %}
    
                            <li class="tl-nav-item"><a href="{% url 'frontend:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-3 d-lg-block d-none">
                    <div class="tl-header-actions kb-16-header-actions d-flex justify-content-end align-items-center">
                        <a href="signin.html"><i class="fa-regular fa-user"></i> Sign Up</a>
                        {% comment %} <a href="signup.html" class="tl-def-btn tl-1-header-btn">Login</a> {% endcomment %}
                        <a href="signup.html" class="tl-5-def-btn"><i class="fa-regular fa-user"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}