{% load static %}

{% block header %}
<div class="container position-relative">
    <div class="tl-header tl-header-5">
        <div class="row g-0 align-items-center">
            <div class="col-xl-2 col-lg-2">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-6">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'frontend/assets/images/logo/sakacom-logo.png' %}" alt="Sakacom Logo">
                            </a>
                        </div>
                    </div>
                    <div class="d-lg-none d-flex justify-content-end col-6">
                        <button class="tl-hamburger navbar-toggler">
                            <i class="icofont-navigation-menu"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="tl-nav-menu">
                    <ul>
                        {% comment %} <li class="tl-nav-item"><a href="/">Home</a></li> {% endcomment %}
                        {% comment %} <li class="tl-nav-item"><a href="{% url 'frontend:about' %}">About Us</a></li> {% endcomment %}
                        <li class="tl-nav-item tl-dropdown">
                            <a href="{% url 'frontend:all_programs' %}" role="button">
                                Programs <i class="fa-regular fa-angle-down"></i>
                            </a>
                            <ul class="tl-submenu">
                                {% for program in links %}
                                <li style="text-transform:capitalize"><a href="{{program.get_url}}">{{ program.program_name }}</a></li>
                                {% endfor %}

                            </ul>
                        </li>
                        <li class="tl-nav-item tl-dropdown">
                            <a href="{% url 'frontend:all_programs' %}" role="button">
                                Services <i class="fa-regular fa-angle-down"></i>
                            </a>
                            <ul class="tl-submenu">
                                <li><a href="#">Service 1</a></li>
                                <li><a href="">Service 2</a></li>
                                <li><a href="#">Service 3</a></li>
                            </ul>
                        </li>
                        <li class="tl-nav-item"><a href="{% url 'frontend:event_page' %}">Events</a></li>
                        {% comment %} <li class="tl-nav-item"><a href="#">Blog</a></li> {% endcomment %}

                        <li class="tl-nav-item"><a href="{% url 'frontend:contact' %}">Contact</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-4 d-lg-block d-none">
                <div class="tl-header-actions d-flex justify-content-end">
                    <form action="#" class="tl-nav-search-form">
                        <input type="search" name="Search" class="tl-nav-search" placeholder="Search items">
                        <button class="tl-searh-btn"><i class="fa-light fa-magnifying-glass"></i></button>
                    </form>
                    <a class="tl-5-def-btn" href="#" data-toggle="modal" data-target="#getQuoteModal">Get a Consultation</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}