{% extends 'vora/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}
 
{% endblock %}


{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}


{% block content %}

<div class="row">
   <div class="col-lg-12">
      <div class="card">
         <div class="card-header d-inline-block">
            <h4 class="card-title mb-2">Change Password </h4>
            <p class="m-0">Your new password must be different from previous used passwords. </p>
         </div>
         <div class="card-body">
            <div id="message"></div>
            <form id="user_perm" method="post"> {% csrf_token %} <div class="row">
               <div class="mb-3 col-md-6">
                  <label class="mb-1">Old Password</label>
                  <div class="input-group transparent-append">
                     {{ form.old_password|attr:"class:form-control"|attr:"placeholder:Old Password"|attr:"id:dz-password"|attr:"type:password" }}
                     <span class="input-group-text show-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.old_password.errors }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 col-md-6">
                  <label class="mb-1">New Password</label>
                  <div class="input-group transparent-append">
                     {{ form.new_password1|attr:"class:form-control"|attr:"placeholder:New Password"|attr:"id:dz-con-password"|attr:"type:password" }}
                     <span class="input-group-text show-con-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.new_password1.errors }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 col-md-6">
                  <label class="mb-1">Confirm Password</label>
                  <div class="input-group transparent-append">
                     {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Confirm Password"|attr:"id:dz-old-password"|attr:"type:password" }}
                     <span class="input-group-text show-old-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.new_password2.errors }}
                     </div>
                  </div>
               </div>
               <div class="d-flex justify-content-end">
               <button type="submit" class="btn btn-primary">Change Password</button>
               </div>
            </form>
         </div>   
      </div>
   </div>
</div>


   
{% endblock %}


{% block additional_js %}
 
{% endblock %}