{% extends 'vora/elements/layouts/admin.html' %}

{% load static %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}

				<div class="form-head d-flex align-items-center flex-wrap mb-sm-5 mb-3">
					<h2 class="font-w600 mb-0 text-black">Transactions</h2>
					<a href="javascript:void(0);" class="btn btn-outline-secondary ms-auto"><i class="las la-calendar scale5 me-2"></i>Filter Periode</a>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="table-responsive table-hover fs-14">
							<table class="table table-responsive-md ck-table" id="tranasactions_table">
								<thead>
									<tr>
										<th style="width:50px;">
                                            <div class="custom-control custom-checkbox checkbox-primary me-3">
                                                <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                                <label class="custom-control-label" for="checkAll"></label>
                                            </div>
                                        </th>
										<th>Graph</th>
										<th>Transaction ID</th>
										<th>Date</th>
										<th>From</th>
										<th>To</th>
										<th>Coin</th>
										<th>Amount</th>
										<th>Note</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for val in data_obj %}
									<tr>
										<td>
                                            <div class="custom-control custom-checkbox checkbox-primary me-3">
                                                <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                                <label class="custom-control-label" for="customCheckBox2"></label>
                                            </div>
                                        </td>
										<td class="pr-0">
											{% if val.graph == 'down' %}
											<span class="bg-danger ic-icon">
												<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M20.7529 19.1563L7.5703 5.97367C7.00891 5.41228 6.09876 5.41228 5.53737 5.97367C4.97598 6.53505 4.97598 7.44521 5.53737 8.0066L18.72 21.1892L15.2913 21.1809L15.2912 21.1809C14.4973 21.179 13.8522 21.8211 13.8503 22.615C13.8484 23.4091 14.4907 24.054 15.2844 24.056L15.2856 23.556L15.2844 24.056L22.1954 24.0727L22.2028 24.0727L22.2051 24.0726C22.9947 24.0692 23.6329 23.4284 23.6363 22.6414L23.6363 22.6391L23.6363 22.6317L23.6196 15.7207L23.6196 15.7207C23.6177 14.9268 22.9727 14.2847 22.1787 14.2866C21.3847 14.2885 20.7427 14.9336 20.7446 15.7275L20.7446 15.7275L20.7529 19.1563Z" fill="white" stroke="white"></path>
												</svg>
											</span>
											{% else %}
											<span class="bg-success ic-icon">
												<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.13282 8.90433L1.13282 8.90433L1.11612 1.99607C1.11609 1.99224 1.1161 1.98868 1.11615 1.98542M1.13282 8.90433L1.61615 1.99089L1.11615 1.99005C1.11617 1.97692 1.11672 1.96665 1.11697 1.96234L1.11706 1.96082C1.11686 1.96411 1.11633 1.97298 1.11616 1.98431C1.11616 1.98468 1.11615 1.98505 1.11615 1.98542M1.13282 8.90433C1.13475 9.69817 1.77979 10.3403 2.57378 10.3384C3.36769 10.3365 4.00975 9.6914 4.00787 8.89749L4.00787 8.89746L3.99954 5.46873M1.13282 8.90433L3.99954 5.46873M1.11615 1.98542C1.11853 1.19684 1.75837 0.554508 2.54973 0.552379C2.55142 0.552358 2.55317 0.552346 2.55498 0.552343L2.55703 0.552338L2.57419 0.552393L9.46803 0.569049L9.46682 1.06905L9.46804 0.569049C10.2617 0.570981 10.904 1.21593 10.9021 2.01004C10.9002 2.80394 10.2551 3.44597 9.4612 3.44409L9.46117 3.4441L6.03249 3.43582L19.2151 16.6184C19.7765 17.1798 19.7765 18.0899 19.2151 18.6513C18.6537 19.2127 17.7435 19.2127 17.1821 18.6513L3.99954 5.46873M1.11615 1.98542C1.11614 1.98743 1.11615 1.98943 1.11615 1.99144L3.99954 5.46873M2.55508 0.552375C2.55572 0.552375 2.55637 0.552373 2.55703 0.552376L2.55508 0.552375Z" fill="white" stroke="white"></path>
												</svg>
											</span>
											{% endif %}
										</td>
										<td>{{ val.Transaction_ID }}</td>
										<td>{{ val.Date }}</td>
										<td>{{ val.From }}</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="{% static val.image %}"  class="rounded-circle me-2 width36 height36" alt="">
												<span>{{ val.To }}</span>
											</div>
										</td>
										<td class="wspace-no">
											{% if val.Coin == 'Bitcoin' %}
											<svg class="me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M16 9.50011C15.9993 8.67201 15.328 8.00092 14.5001 8H10V11H14.5001C15.328 10.9993 15.9993 10.328 16 9.50011Z" fill="#FFAB2D"></path>
												<path d="M10 16H14.5001C15.3285 16 16 15.3285 16 14.5001C16 13.6715 15.3285 13 14.5001 13H10V16Z" fill="#FFAB2D"></path>
												<path d="M12 0C5.3726 0 0 5.3726 0 12C0 18.6274 5.3726 24 12 24C18.6274 24 24 18.6274 24 12C23.9924 5.37574 18.6243 0.00758581 12 0ZM18.0001 14.5713C17.9978 16.4641 16.4641 17.9978 14.5716 17.9999V18.8571C14.5716 19.3305 14.1876 19.7143 13.7144 19.7143C13.2409 19.7143 12.8572 19.3305 12.8572 18.8571V17.9999H11.1431V18.8571C11.1431 19.3305 10.7591 19.7143 10.2859 19.7143C9.8124 19.7143 9.42866 19.3305 9.42866 18.8571V17.9999H6.85733C6.38387 17.9999 6.00013 17.6161 6.00013 17.1429C6.00013 16.6695 6.38387 16.2857 6.85733 16.2857H7.71427V7.71427H6.85733C6.38387 7.71427 6.00013 7.33053 6.00013 6.85707C6.00013 6.38361 6.38387 5.99987 6.85733 5.99987H9.42866V5.14293C9.42866 4.66947 9.8124 4.28573 10.2859 4.28573C10.7593 4.28573 11.1431 4.66947 11.1431 5.14293V5.99987H12.8572V5.14293C12.8572 4.66947 13.2409 4.28573 13.7144 4.28573C14.1879 4.28573 14.5716 4.66947 14.5716 5.14293V5.99987C16.4571 5.99202 17.992 7.5139 18.0001 9.39937C18.0043 10.3978 17.5714 11.3481 16.8152 12C17.5643 12.6445 17.9967 13.5828 18.0001 14.5713Z" fill="#FFAB2D"></path>
											</svg>
											{% elif val.Coin == 'Ripple' %}
											<svg class="me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M12.001 0C5.37358 0 0.000976562 5.3726 0.000976562 12C0.000976562 18.6274 5.37358 24 12.001 24C18.6284 24 24.001 18.6274 24.001 12C23.9934 5.37574 18.6252 0.00758581 12.001 0ZM16.2867 18.0001H9.42964C8.95618 18.0001 8.57244 17.6164 8.57244 17.1429C8.57244 17.1024 8.57532 17.0618 8.58107 17.0216L9.22613 12.5054L7.9232 12.8313C7.85519 12.8486 7.78535 12.8572 7.71524 12.8572C7.24178 12.8567 6.85857 12.4727 6.85883 11.9992C6.85935 11.6063 7.12669 11.2642 7.50781 11.1684L9.48771 10.6735L10.2952 5.0213C10.3622 4.55254 10.7964 4.22714 11.2652 4.2941C11.7339 4.36107 12.0593 4.79529 11.9923 5.26404L11.2835 10.2247L14.3646 9.4543C14.8232 9.33737 15.2896 9.61439 15.4062 10.0729C15.5232 10.5315 15.2461 10.9979 14.7876 11.1148C14.785 11.1153 14.7824 11.1161 14.7797 11.1166L11.0214 12.0562L10.4174 16.2857H16.2867C16.7602 16.2857 17.1439 16.6695 17.1439 17.1429C17.1439 17.6161 16.7602 18.0001 16.2867 18.0001Z" fill="#374C98"/>
												</svg>
											{% elif val.Coin == 'Litecoin' %}
											<svg class="me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M12.001 0C5.37358 0 0.000976562 5.3726 0.000976562 12C0.000976562 18.6274 5.37358 24 12.001 24C18.6284 24 24.001 18.6274 24.001 12C23.9934 5.37574 18.6252 0.00758581 12.001 0ZM16.2867 18.0001H9.42964C8.95618 18.0001 8.57244 17.6164 8.57244 17.1429C8.57244 17.1024 8.57532 17.0618 8.58107 17.0216L9.22613 12.5054L7.9232 12.8313C7.85519 12.8486 7.78535 12.8572 7.71524 12.8572C7.24178 12.8567 6.85857 12.4727 6.85883 11.9992C6.85935 11.6063 7.12669 11.2642 7.50781 11.1684L9.48771 10.6735L10.2952 5.0213C10.3622 4.55254 10.7964 4.22714 11.2652 4.2941C11.7339 4.36107 12.0593 4.79529 11.9923 5.26404L11.2835 10.2247L14.3646 9.4543C14.8232 9.33737 15.2896 9.61439 15.4062 10.0729C15.5232 10.5315 15.2461 10.9979 14.7876 11.1148C14.785 11.1153 14.7824 11.1161 14.7797 11.1166L11.0214 12.0562L10.4174 16.2857H16.2867C16.7602 16.2857 17.1439 16.6695 17.1439 17.1429C17.1439 17.6161 16.7602 18.0001 16.2867 18.0001Z" fill="#374C98"></path>
                                            </svg>
											{% elif val.Coin == 'Ethereum' %}
											<svg class="me-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M12.3811 13.8733C12.1369 13.9546 11.865 13.9546 11.6209 13.8733L9.00098 13L12.001 18L15.001 13L12.3811 13.8733Z" fill="#00ADA3"></path>
												<path d="M12.001 12L15.001 10.8L12.001 5.99997L9.00098 10.8L12.001 12Z" fill="#00ADA3"></path>
												<path d="M12.001 -3.05176e-05C5.37358 -3.05176e-05 0.000976562 5.37257 0.000976562 12C0.000976562 18.6274 5.37358 24 12.001 24C18.6284 24 24.001 18.6274 24.001 12C23.9937 5.37571 18.6252 0.00729373 12.001 -3.05176e-05ZM17.0534 11.5262L12.7677 20.0977C12.556 20.5212 12.041 20.6928 11.6178 20.4812C11.4517 20.3983 11.3172 20.2638 11.2343 20.0977L6.94855 11.5262C6.81541 11.2589 6.83058 10.9416 6.98857 10.6881L11.2743 3.83108C11.5592 3.42981 12.115 3.33512 12.5163 3.61998C12.5982 3.67805 12.6696 3.7492 12.7276 3.83108L17.0131 10.6881C17.1714 10.9416 17.1865 11.2589 17.0534 11.5262Z" fill="#00ADA3"></path>
											</svg>
											{% elif val.Coin == 'Monero' %}
											<svg class="me-1" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M12.2176 0.00189099C5.59969 -0.114662 0.120182 5.17136 0.00359729 11.7875C-0.035493 13.869 0.464451 15.8373 1.37107 17.5623H5.14363V5.75207C5.14363 5.03013 6.12501 4.80045 6.4439 5.44835L12.0016 16.6998L17.5593 5.44903C17.8782 4.80045 18.8595 5.03013 18.8595 5.75207V17.5623H22.6204C23.464 15.9594 23.966 14.1494 23.9996 12.2194C24.1162 5.60329 18.8355 0.1253 12.2176 0.00189099Z" fill="#FF782C"></path>
												<path d="M17.4879 18.2479V8.6892L12.6161 18.5516C12.3856 19.0199 11.6169 19.0199 11.3864 18.5516L6.51522 8.6892V18.2479C6.51522 18.6264 6.20867 18.9335 5.82943 18.9335H2.22832C4.36183 21.9303 7.83058 23.9241 11.7856 23.9981C15.8983 24.0708 19.5686 22.0551 21.7886 18.9335H18.1737C17.7945 18.9335 17.4879 18.6264 17.4879 18.2479Z" fill="#FF782C"></path>
											</svg>

											{% endif %}

											<span class="text-black">{{ val.Coin }}</span>
										</td>
										<td>
											<span class="text-black font-w600">{{ val.Amount }}</span>
										</td>
										<td>
											<p class="mb-0 wspace-no">{{ val.Note }}<a href="javascript:void(0);" class="text-secondary">More</a></p>
										</td>
										<td>
											<a href="javascript:void(0);" class="btn-link 
											
															{% if val.Status == 'COMPLETED' %}
															text-success
															{% elif val.Status == 'PENDING' %}
															text-dark
															{% elif val.Status == 'CANCELED' %}
															text-danger

															{% endif %} float-right">{{ val.Status }}</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>


					<nav class="mt-5">
                        <ul class="pagination pagination-gutter justify-content-end">
                            
                                <li class="page-item page-indicator ">
                                    <a class="page-link" href="{% if data_obj.has_previous %}
                                                                ?page={{ data_obj.previous_page_number }}
                                                                {% else %}
                                                                javascript:void(0);
                                                                {% endif %}">
                                        <i class="la la-angle-left"></i></a>
                                </li>

                            {% for i in data_obj.paginator.page_range|slice:":3" %}

                                <li class="page-item {% if data_obj.number == i %}
                                                    active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            
                            {% endfor %}

                            
                            {% if data_obj.number > 3 %}
                            <li class="page-item active"><a class="page-link" href="?page={{ data_obj.number }}">{{ data_obj.number }}</a></li>
                            {% endif %}
                            
                            <li class="page-item page-indicator ">
                                <a class="page-link"  href="{% if data_obj.has_next %}
                                                            ?page={{ data_obj.next_page_number }}
                                                            {% else %}
                                                            javascript:void(0);
                                                            {% endif %}">
                                    <i class="la la-angle-right"></i></a>
                            </li>
                            <li>

                                {% comment %} <span class="current">
                                    Page {{ data_obj.number }} of {{ data_obj.paginator.num_pages }}.
                                </span> {% endcomment %}

                            </li>
                        </ul>
                       
                    </nav>




				</div>
			</div>

{% endblock %}
