{% extends 'vora/elements/layouts/admin.html' %}
{% load static %}

<!-- Additional Css -->
{% block additional_css  %}
<link rel="stylesheet" href="/static/vora/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/vora/vendor/datatables/css/jquery.dataTables.min.css" >
{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
    </ol>
</div>
<!-- row -->


<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">About</h4>
                <div class="d-flex">

                    {% if perms.users.add_customuser %}
                    <a href="{% url 'vora:add_about' %}" class="btn btn-primary btn-sm ">ADD DATA  <span class="btn-icon-end">
                        <i class="fa fa-plus"></i></span>
                    </a>
                    {% endif %}

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display min-w850">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>email</th>
                                <th>More Detail Link</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in about_data %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.title }}</td>
                                <td><img width="135" height="50" src="{{ data.image.url }}" alt="" style="object-fit:cover"></td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.more_details_link }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'vora:edit_about' about_id=data.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'vora:delete_about' data.id %}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>												
                                </td>												
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block additional_js  %}
<script src="/static/vora/vendor/apexchart/apexchart.js"></script>
    
<script src="/static/vora/vendor/datatables/js/jquery.dataTables.min.js"></script>

<script src="/static/vora/js/plugins-init/datatables.init.js"></script>
{% endblock %}