{% extends 'vora/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

    <style>
        .ckeditor {
            width: 100% !important
        }
    </style>

{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}
<form  method="post" enctype="multipart/form-data" novalidate autocomplete="off">
    {% csrf_token %}
    <div class="row items-align-center justify-content-center">
        <div class="col-xl-9 col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Data</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form>

                            <div class="form-row">
                                <div class=" col-md-12">
                                    <div class="form-group">

                                        {{ form.media }}
                                        {{ form.as_p }}

                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                </div>
            </div>
        </div>
    </div>	
 </form>
 
 
 
 {% endblock %}
 
 
 {% block additional_js %}
 
 
 
 
 <script>
    function readURL(input) {
 
       if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
             }
             reader.readAsDataURL(input.files[0]);
       }
    }
    $("#id_avatar").change(function() {
       readURL(this);
    });
 </script> 
 
 
 <script>
    $(".multi-select").select2({
       placeholder: "Select the Role"
   });
 </script>
 
 
 {% endblock %}