{% extends 'frontend/partials/base_pages.html' %} 
{% load static %} 

{% block title %}
    {{page_title}}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb pt-120 pb-120">
  <div class="container">
      <div class="row align-items-end">
          <div class="col-md-6">
              <div class="banner-txt">
                  <h1 class="tl-breadcrumb-title">{{settings.name}}</h1>
              </div>
          </div>

          <div class="col-md-6">
              <ul class="tl-breadcrumb-nav d-flex">
                  <li><a href="index.html">Home</a></li>
                  <li class="current-page">
                      <span class="dvdr"><i class="icofont-simple-right"></i></span>
                      <span>About</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- BREADCRUMB ENDS HERE -->


<!-- ABOUT SECTION STARTS HERE ↓ -->
<section class="tl-1-about pt-120 pb-120">
  <div class="container">
      <div class="row align-items-center tl-1-about-row">
          <div class="col-lg-6">
              <div class="tl-1-about-img">
                  <img src="{{about_data.image_3.url}}" alt="Banner Image" class="tl-1-about-main-img">
                  <img src="{% static 'frontend/assets/images/tl-1/sticker.png' %}" alt="sticker" class="tl-1-about-sticker">
              </div>
          </div>

          <div class="col-lg-6">
              <div class="tl-1-about-txt">
                  <h2 class="tl-1-section-title">{{ about_data.title}}.</h2>
                  <p class="tl-1-about-descr">{{ about_data.description|safe }}</p>

                  <div class="tl-1-about-author">
                      <div class="tl-1-about-author-intro">
                          <div class="tl-1-about-author-img">
                              <img src="{% static 'frontend/assets/images/tl-3/author-img.png' %}" alt="Author image">
                          </div>
                          <div class="tl-1-about-author-info">
                              <h5 class="tl-1-about-author-name">Hugh Millie-Yate</h5>
                              <span class="tl-1-about-author-role">Vice Principal</span>
                          </div>
                      </div>
                      <div class="tl-1-about-author-signature">
                          <img src="{% static 'frontend/assets/images/tl-3/signature.png' %}" alt="signature">
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="tl-1-stats">
        {% for award in awards %}
          <div class="tl-1-stat">
              <span class="tl-1-stat-num">{{ award.award_number }}</span>
              <h6 style="text-transform: uppercase" class="tl-1-stat-name">{{ award.name }}</h6>
          </div>
        {% endfor %}
          
      </div>
  </div>
</section>
<!-- ABOUT SECTION ENDS HERE ↑ -->


<!-- TESTIMONIAL SECTION STARTS HERE ↓ -->
<section class="tl-1-testimonial pb-120">
  <div class="container">
      <div class="tl-1-section-heading">
          <h2 class="tl-1-section-title">What Student Says?</h2>
      </div>

      <div class="tl-1-testimonial-slider-container" data-bg-color="#F0EFED">
          <div class="tl-1-testimonial-slider owl-carousel">
              <!-- <div> -->
              <div class="tl-1-testimony">
                  <img src="{% static 'frontend/assets/images/tl-4/testimony-1.jpg' %}" alt="User image" class="tl-1-testimony-img">

                  <div class="tl-1-testimony-txt">
                      <span class="tl-1-testimony-stars">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                      </span>
                      <p class="tl-1-testimony-review">Morbi consectetur elementum purus mattis cursus purus vel metus iaculis sagittis. Vestibulum molestie bibendum turpis luctus sem lacinia quis. Quisque amet velit sit amet dui hendrerit ultricies a id ipsum Mauris sit amet lacinia est, vitae tristique metus tempor nibh ultricies.</p>
                      <div class="tl-1-reviewer">
                          <div class="tl-1-reviewer-txt">
                              <h6 class="tl-1-reviewer-name">Russell Sprout</h6>
                              <span class="tl-1-reviewer-label">Student, CSE</span>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- </div> -->

              <!-- <div> -->
              <div class="tl-1-testimony">
                  <img src="{% static 'frontend/assets/images/tl-4/testimony-2.jpg' %}" alt="User image" class="tl-1-testimony-img">

                  <div class="tl-1-testimony-txt">
                      <span class="tl-1-testimony-stars">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                      </span>
                      <p class="tl-1-testimony-review">Morbi consectetur elementum purus mattis cursus purus vel metus iaculis sagittis. Vestibulum molestie bibendum turpis luctus sem lacinia quis. Quisque amet velit sit amet dui hendrerit ultricies a id ipsum Mauris sit amet lacinia est, vitae tristique metus tempor nibh ultricies.</p>
                      <div class="tl-1-reviewer">
                          <div class="tl-1-reviewer-txt">
                              <h6 class="tl-1-reviewer-name">Thomas R. Toe</h6>
                              <span class="tl-1-reviewer-label">B.Tech (CSE) , 2018-2023</span>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- </div> -->

              <!-- <div> -->
              <div class="tl-1-testimony">
                  <img src="{% static 'frontend/assets/images/tl-4/testimony-3.jpg' %}" alt="User image" class="tl-1-testimony-img">

                  <div class="tl-1-testimony-txt">
                      <span class="tl-1-testimony-stars">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                      </span>
                      <p class="tl-1-testimony-review">Morbi consectetur elementum purus mattis cursus purus vel metus iaculis sagittis. Vestibulum molestie bibendum turpis luctus sem lacinia quis. Quisque amet velit sit amet dui hendrerit ultricies a id ipsum Mauris sit amet lacinia est, vitae tristique metus tempor nibh ultricies.</p>
                      <div class="tl-1-reviewer">
                          <div class="tl-1-reviewer-txt">
                              <h6 class="tl-1-reviewer-name">Russell Sprout</h6>
                              <span class="tl-1-reviewer-label">Student, CSE</span>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- </div> -->
          </div>
      </div>
  </div>
</section>
<!-- TESTIMONIAL SECTION ENDS HERE ↑ -->


<!-- TEACHERS START ↓ -->
<section class="tl-1-teachers pb-120">
  <div class="container">
      <div class="tl-1-section-heading">
          <h2 class="tl-1-section-title">Our Best Teachers</h2>
      </div>

      <div class="tl-1-teachers-slider owl-carousel">
          <div class="tl-1-teacher">
              <img src="{% static 'frontend/assets/images/tl-2/teacher-1.jpg' %}" alt="Teacher Image" class="tl-1-teacher-img">
              <ul class="tl-1-teacher-socials">
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
              <div class="tl-1-teacher-info">
                  <h5 class="tl-1-teacher-title"><a href="#">Nathaneal Down</a></h5>
                  <h6 class="tl-1-teacher-sub-title">Music Teacher</h6>
              </div>
          </div>

          <div class="tl-1-teacher">
              <img src="{% static 'frontend/assets/images/tl-2/teacher-2.jpg' %}" alt="Teacher Image" class="tl-1-teacher-img">
              <ul class="tl-1-teacher-socials">
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
              <div class="tl-1-teacher-info">
                  <h5 class="tl-1-teacher-title"><a href="#">Parsley Montana</a></h5>
                  <h6 class="tl-1-teacher-sub-title">Math Teacher</h6>
              </div>
          </div>

          <div class="tl-1-teacher">
              <img src="{% static 'frontend/assets/images/tl-2/teacher-3.jpg' %}" alt="Teacher Image" class="tl-1-teacher-img">
              <ul class="tl-1-teacher-socials">
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>

              <div class="tl-1-teacher-info">
                  <h5 class="tl-1-teacher-title"><a href="#">Douglas Lyphe</a></h5>
                  <h6 class="tl-1-teacher-sub-title">Art Teacher</h6>
              </div>
          </div>

          <div class="tl-1-teacher">
              <img src="{% static "frontend/assets/images/tl-2/teacher-2.jpg" %} %}" alt="Teacher Image" class="tl-1-teacher-img">
              <ul class="tl-1-teacher-socials">
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>

              <div class="tl-1-teacher-info">
                  <h5 class="tl-1-teacher-title"><a href="#">Douglas Lyphe</a></h5>
                  <h6 class="tl-1-teacher-sub-title">Art Teacher</h6>
              </div>
          </div>
      </div>

      <div class="tl-1-slider-dots" id="tl-1-teachers-slider-dots"></div>
  </div>
</section>
<!-- TEACHERS END ↑ -->
{% endblock content %}
