{% extends 'frontend/partials/base.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block additional_css %}
<style>
    .tl-4-about-stat span{
        text-transform: uppercase;
    }
</style>
{% endblock %}

{% block content %}

<!-- BANNER SECTION STARTS HERE -->
<section class="tl-5-banner">
    <div class="tl-5-banner-slider owl-carousel">
        {% for i in slider %}
        <div class="tl-5-banner-single-slide" style="background-image: url('{{ i.image.url }}');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="tl-5-banner-txt">
                            <h1 class="tl-5-banner-title">{{i.welcome_title}}</h1>
                            <p class="tl-5-banner-descr">{{i.description|safe}}</p>
                            <div class="tl-1-banner-btns tl-5-banner-btns">
                                <a href="{{i.url_apply|safe}}" class="tl-5-def-btn">Apply Now <i class="fa-regular fa-arrow-right-long"></i></a>
                                <a href="{{i.url_read_more}}" class="tl-def-btn">Learn More <i class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% comment %} <div class="tl-5-banner-single-slide tl-5-banner-single-slide-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="tl-5-banner-txt">
                            <h1 class="tl-5-banner-title">Welcome to Kidba University</h1>
                            <p class="tl-5-banner-descr">Cosmic is committed to providing learning opportunities tailored to support emerging career opportunities.</p>
                            <div class="tl-1-banner-btns tl-5-banner-btns">
                                <a href="#" class="tl-5-def-btn">Apply Now <i class="fa-regular fa-arrow-right-long"></i></a>
                                <a href="#" class="tl-def-btn">Learn More <i class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tl-5-banner-single-slide tl-5-banner-single-slide-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="tl-5-banner-txt">
                            <h1 class="tl-5-banner-title">Welcome to Kidba University</h1>
                            <p class="tl-5-banner-descr">Cosmic is committed to providing learning opportunities tailored to support emerging career opportunities.</p>
                            <div class="tl-1-banner-btns tl-5-banner-btns">
                                <a href="#" class="t
                                l-5-def-btn">Apply Now <i class="fa-regular fa-arrow-right-long"></i></a>
                                <a href="#" class="tl-def-btn">Learn More <i class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>
<!-- BANNER SECTION ENDS HERE -->

<!-- ABOUT SECTION STARTS HERE -->
<section class="tl-4-about tl-3-section-spacing">
    <div class="container">
        <div class="row gy-4 gy-sm-5 align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="tl-3-about-img tl-4-about-img">
                    <img src="{{about_data.image_2.url}}" alt="School Picture">
                    <img src="{{about_data.image.url}}" alt="School Picture">
                </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-1">
                <div class="tl-4-about-txt">
                    <h2 class="tl-4-section-title">{{about_data.title}}</h2>
                    <p class="tl-4-about-descr">{{about_data.description|safe}}.</p>

                    <div class="tl-4-about-stats">
                        {% for award in awards %}
                            <div class="tl-4-about-stat">
                                <div class="tl-4-about-stat-txt">
                                    <span class="tl-4-about-stat-num">{{ award.award_number }}</span>
                                    <span class="tl-4-about-stat-name">{{ award.name }}</span>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="tl-4-about-txt-bottom">
                        <a href="{% url 'frontend:about' %}" class="tl-def-btn tl-4-def-btn">More Details <i class="fa-light fa-angle-right"></i></a>

                        <div class="tl-4-about-support">
                            <img src="{% static 'frontend/assets/images/tl-4/support.png' %}" alt="support icon">
                            <div>
                                <span class="tl-4-about-support-txt">Get Support</span>
                                <a href="{{ about_data.email }}" class="tl-4-about-support-mail">{{ about_data.email }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT SECTION ENDS HERE -->

<!-- UPCOMING EVENTS SECTION STARTS HERE -->
<section style="margin-top: -100px" class="tl-3-events tl-3-section-spacing">
    <div class="container">
        <h2 class="tl-3-section-title">Upcoming Events</h2>

        <div class="tl-3-events-cards">
            <div class="row">
                {% for event in events %}

                <div class="col-md-6">
                    <div class="tl-3-single-event">
                        <div class="tl-3-single-event-date">
                            <span class="date">{{ event.event_date.day }}</span>
                            <span class="month-year">{{ event.event_date|date:"F, Y" }}</span>
                        </div>

                        <div class="tl-3-single-event-txt">
                            <div class="tl-3-single-event-info">
                                <h6 class="tl-3-single-event-location">
                                    <i class="fa-regular fa-location-dot"></i> {{ event.event_location }}
                                </h6>
                                <h6 class="tl-3-single-event-time">
                                    <i class="fa-regular fa-clock"></i> {{ event.start_time }} - {{ event.end_time }}
                                </h6>
                            </div>

                            <h3 class="tl-3-single-event-title"><a href="{% url 'frontend:event_detail' slug=event.slug %}">{{ event.title }}.</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <a href="{% url 'frontend:event_page' %}" class="tl-3-def-btn tl-3-events-btn">Find Out More</a>
    </div>
</section>
<!-- UPCOMING EVENTS SECTION ENDS HERE -->

<!-- ACADEMIC SECTION STARTS HERE -->
<section style="margin-top: -100px" class="tl-5-academic">
    <div class="container">
        {% comment %} <h2 class="tl-5-section-title mtm-15">Academics</h2> {% endcomment %}
        <h2 class="tl-4-section-title">Our <span class="last-word">Courses</span></h2>

        <div class="row g-lg-4 g-3">
            {% for course in courses %}
            <div class="col-12">
                <div class="tl-8-course">
                    <div class="tl-8-course-img">
                        <img src="{{ course.cover_image.url }}" alt="Course Image">
                    </div>

                    <div class="tl-8-course-txt">
                        <div class="tl-8-course-info">
                            <span class="tl-8-course-price">{{ course.price }}</span>
                            <span class="tl-8-course-level"><i class="fa-sharp fa-solid fa-signal-bars-good"></i>{{ course.level }}</span>
                        </div>

                        <h3 class="tl-8-course-title">{{ course.course_name }}</h3>
                        <p class="tl-8-course-descr">{{ course.description|safe }}</p>

                        <div class="tl-8-course-parts">
                            <div class="tl-8-course-part">
                                <img src="{% static 'frontend/assets/images/tl-8/service-1.png' %}" alt="course part icon">

                                <div class="tl-8-course-part-txt">
                                    <h6 class="tl-8-course-part-title">Theory Session</h6>
                                    <h6 class="tl-8-course-part-duration">04 Hours</h6>
                                </div>
                            </div>

                            <div class="tl-8-course-part">
                                <img src="{% static 'frontend/assets/images/tl-8/service-2.png' %}" alt="course part icon">

                                <div class="tl-8-course-part-txt">
                                    <h6 class="tl-8-course-part-title">Theory Session</h6>
                                    <h6 class="tl-8-course-part-duration">04 Hours</h6>
                                </div>
                            </div>
                        </div>

                        <a href="{{ course.get_url }}" class="tl-def-btn text-white">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}


         
            <a href="{% url 'frontend:all_programs' %}" class="tl-3-def-btn tl-3-events-btn">Find Out More</a>

        </div>
    </div>
</section>
<!-- ACADEMIC SECTION ENDS HERE -->


<!-- TESTIMONIAL SECTION STARTS HERE -->
<section class="tl-10-testimonial tl-testimonial pb-120">
    <div class="container">
        <div class="tl-10-section-heading">
            <h2 class="tl-section-title">
                Trusted by over 2,000+ Students Have To Say
                <span class="tl-10-users-img">
                    <img src="{% static 'frontend/assets/images/tl-10/04.png' %}" alt="user">
                    <img src="{% static 'frontend/assets/images/tl-10/03.png' %}" alt="user">
                    <img src="{% static 'frontend/assets/images/tl-10/02.png' %}" alt="user">
                    <span class="last-img">
                        <img src="{% static 'frontend/assets/images/tl-10/01.png' %}" alt="user">
                        <span class="last-img-txt">2k+</span>
                    </span>
                </span>
            </h2>
        </div>

        <div class="tl-testimonial-slider owl-carousel">
            {% for testimony in testimonials %}
            <div class="tl-10-single-testimony">
                <p class="tl-10-single-testimony-txt tl-single-testimony-txt">
                    {{ testimony.content|safe }}
                </p>

                <div class="tl-10-single-testimony-reviewer">
                    <img src="{{ testimony.image.url }}" style="object-fit:cover" alt="Person" class="tl-10-single-testimony-reviewer-img">
                    <div class="tl-10-single-testimony-reviewer-info">
                        <h6 class="tl-10-single-testimony-reviewer-name">{{ testimony.name }}</h6>
                        <p class="tl-10-single-testimony-reviewer-label">{{ testimony.course_studied }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="tl-10-testimonial-slider-nav">

        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION ENDS HERE -->
{% if form_submitted %}
<div class="alert alert-success" role="alert">
    Your form has been submitted successfully!
</div>
{% endif %}
<!-- CONSULT FORM SECTION STARTS HERE -->
<section class="tl-5-consult">
    <div class="tl-5-consult-form-container">
        <div class="tl-5-consult-heading">
            <h6 class="tl-5-consult-sub-title">Get a Consultation</h6>
            <h2 class="tl-5-section-title">Students Consultation</h2>
        </div>

        <form method="post" action="{% url 'frontend:consultation' %}" class="tl-5-consult-form">
            {% csrf_token %}
            <div class="row g-4 g-md-5">
                <div class="col-sm-6">
                    <span class="input-field-container input-field-container-name">
                        <input type="text" name="client-name" id="consult-client-name" placeholder="Input Name">
                    </span>
                </div>

                <div class="col-sm-6">
                    <span class="input-field-container input-field-container-address">
                        <input type="text" name="client-address" id="consult-client-address" placeholder="Input Address">
                    </span>
                </div>

                <div class="col-sm-6">
                    <span class="input-field-container input-field-container-number">
                        <input type="tel" name="client-number" id="consult-client-number" placeholder="Input Number">
                    </span>
                </div>

                <div class="col-sm-6">
                    <span class="input-field-container input-field-container-subject">
                        <input type="text" name="client-subject" id="consult-client-subject" placeholder="Input subject">
                    </span>
                </div>

                <div class="col-12">
                    <span class="input-field-container input-field-container-ques">
                        <textarea name="client-ques" id="consult-client-ques" placeholder="Input Your Question"></textarea>
                    </span>
                </div>

                <div class="col-12">
                    <button type="submit" class="tl-5-def-btn">Get a Consultation</button>
                </div>
            </div>
        </form>
    </div>

    <div class="tl-5-consult-img">
        <img src="{% static 'frontend/assets/images/tl-5/consult-1.jpg' %}" alt="Students">
    </div>
</section>
<!-- CONSULT FORM SECTION ENDS HERE -->

<!-- SOCIAL HANDLES SECTION STARTS HERE -->
<section class="tl-4-socials bg-defaults" data-background="{% static 'frontend/assets/images/tl-4/social-bg.jpg' %}">
    <div class="row g-0">
        <div class="col-xl-3 col-md-6 col-12">
            <div class="tl-4-social">
                <div class="tl-4-social-txt">
                    <h2 class="tl-4-social-title">YouTube</h2>
                    <div class="tl-4-social-hidden-content">
                        <p class="tl-4-social-descr">Nulla lacinia velit at nisl volutpat placerat. Fusce at elit id orci molestie iaculis eget eget metus. Donec purus est, porttitor at lacus sit amet.</p>
                        <a href="#" class="tl-4-social-btn">Subscribe Channel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
            <div class="tl-4-social">
                <div class="tl-4-social-txt">
                    <h2 class="tl-4-social-title">facebook</h2>
                    <div class="tl-4-social-hidden-content">
                        <p class="tl-4-social-descr">Nulla lacinia velit at nisl volutpat placerat. Fusce at elit id orci molestie iaculis eget eget metus. Donec purus est, porttitor at lacus sit amet.</p>
                        <a href="#" class="tl-4-social-btn">Like Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
            <div class="tl-4-social">
                <div class="tl-4-social-txt">
                    <h2 class="tl-4-social-title">instagram</h2>

                    <div class="tl-4-social-hidden-content">
                        <p class="tl-4-social-descr">Nulla lacinia velit at nisl volutpat placerat. Fusce at elit id orci molestie iaculis eget eget metus. Donec purus est, porttitor at lacus sit amet.</p>
                        <a href="#" class="tl-4-social-btn">Follow Account</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
            <div class="tl-4-social">
                <div class="tl-4-social-txt">
                    <h2 class="tl-4-social-title">twitter</h2>
                    <div class="tl-4-social-hidden-content">
                        <p class="tl-4-social-descr">Nulla lacinia velit at nisl volutpat placerat. Fusce at elit id orci molestie iaculis eget eget metus. Donec purus est, porttitor at lacus sit amet.</p>
                        <a href="#" class="tl-4-social-btn">Follow Handle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SOCIAL HANDLES SECTION ENDS HERE -->
{% endblock content %}