{% extends 'vora/elements/layouts/admin.html' %}
{% load static %}

<!-- Additional Css -->
{% block additional_css  %}
<link rel="stylesheet" href="/static/vora/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/vora/vendor/datatables/css/jquery.dataTables.min.css" >
{% endblock %}

{% block message %}
{% include 'vora/elements/alert.html' %}
{% endblock %}

{% block content %}

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
    </ol>
</div>
<!-- row -->


<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Events</h4>
                <div class="d-flex">

                    {% if perms.users.add_customuser %}
                    <a href="{% url 'vora:add_event' %}" class="btn btn-primary btn-sm ">ADD EVENT  <span class="btn-icon-end">
                        <i class="fa fa-plus"></i></span>
                    </a>
                    {% endif %}

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display min-w850">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                {% comment %} <th>Description</th> {% endcomment %}
                                <th>Event Location</th>
                                <th>Phone Number</th>
                                <th>Event Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in event_data %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.title }}</td>
                                {% comment %} <td>{{ event.description|safe }}</td> {% endcomment %}
                                <td>{{ event.event_location }}</td>
                                <td>{{ event.phone_number }}</td>
                                <td>{{ event.event_date }}</td>
                                <td>{{ event.start_time|date:"g:i A" }}</td>
                                <td>{{ event.end_time|date:"g:i A" }}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'vora:edit_event' event_id=event.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'vora:delete_event' event.id %}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>												
                                </td>												
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block additional_js  %}
<script src="/static/vora/vendor/apexchart/apexchart.js"></script>
    
<script src="/static/vora/vendor/datatables/js/jquery.dataTables.min.js"></script>

<script src="/static/vora/js/plugins-init/datatables.init.js"></script>
{% endblock %}