{% extends 'frontend/partials/base.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">Course One</h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>Course</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->

<!-- ACADEMIC SECTION STARTS HERE -->
<section style="margin-top: -50px" class="tl-5-academic">
    <div class="container">
        {% comment %} <h2 class="tl-5-section-title mtm-15">Academics</h2> {% endcomment %}
        <h2 class="tl-4-section-title">All <span class="last-word">programs</span></h2>

        <div class="row g-lg-4 g-3">
            {% for category in course_category_data %}
            {% for i in course_category %}

            <div class="col-xl-3 col-lg-4 col-6 col-xxs-12">
                <div class="tl-5-single-academic tl-5-single-academic-2">
                    <div class="tl-5-single-academic-img">
                        <a href="{% url 'frontend:program_detail' slug=i.slug %}"><img src="{{ i.category.image.url }}" alt="Academic Image"></a>

                        <div class="tl-5-single-academic-txt">
                            <h5 class="tl-5-single-academic-title">{{ category.name }}</h5>
                            <a href="{{ category.read_more_link}}">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>
</section>
<!-- ACADEMIC SECTION ENDS HERE -->
{% endblock content %}