{% extends 'frontend/partials/base_pages.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb pt-120 pb-120"> 
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">{{ single_course.program.program_name }}</h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>{{ single_course.program.program_name }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->


<!-- COURSE SECTION STARTS HERE ↓ -->
<!-- COURSE DETAILS START -->
<div class="tl-event-details-container pt-120 pb-120">
    <div class="container">
        <div class="row g-0 tl-event-details-row">
            <div class="col-lg-8">
                <div class="tl-event-details-left">
                    <div class="tl-event-details-video">
                        <img src="{{ single_course.cover_image.url }}" style="width: 800px; height: 350px; object-fit:cover"/>

                        <h2 class="tl-event-details-title">{{ single_course.course_name }}</h2>
                    </div>

                    <div class="tl-course-details-infos">
                        {% comment %} <div class="tl-course-details-info">
                            <h6 class="tl-course-details-info-name"><i class="fa-regular fa-user"></i>instructor</h6>
                            <h5 class="tl-course-details-info-value">Brian Cumin</h5>
                        </div> {% endcomment %}
                        <div class="tl-course-details-info">
                            <h6 class="tl-course-details-info-name"><i class="fa-regular fa-layer-group"></i>Program</h6>
                            <h5 class="tl-course-details-info-value">{{single_course.program.program_name}}</h5>
                        </div>
                        <div class="tl-course-details-info">
                            <h6 class="tl-course-details-info-name"><i class="fa-regular fa-user-graduate"></i>Certificate</h6>
                            <h5 class="tl-course-details-info-value">{{single_course.available_level}}</h5>
                        </div>
                        <div class="tl-course-details-info">
                            <h6 class="tl-course-details-info-name"><i class="fa-solid fa-sharp fa-star"></i>Ratings</h6>
                            <div class="tl-course-details-stars tl-course-details-info-value">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs tl-course-details-navs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">overview</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum-tab-pane" type="button" role="tab" aria-controls="curriculum-tab-pane" aria-selected="false">curriculum</button>
                        </li>

                        {% comment %} <li class="nav-item" role="presentation">
                            <button class="nav-link" id="instructor-tab" data-bs-toggle="tab" data-bs-target="#instructor-tab-pane" type="button" role="tab" aria-controls="instructor-tab-pane" aria-selected="false">instructor</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="false">reviews</button> {% endcomment %}
                        </li>
                    </ul>

                    <div class="tab-content" id="tl-course-tab-content">
                        <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                            <div class="tl-event-details-descr tl-event-details-area">
                                <h3 class="tl-event-details-area-title">{{ single_course.overview_title}}</h3>

                                <p class="tl-event-details-descr-txt">{{ single_course.description|safe }}</p>

                                {% comment %} <p class="tl-event-details-descr-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quo deleniti quae, dolorum aperiam aliquid aliquam, nihil cupiditate officiis ex ipsa? Molestias provident incidunt autem debitis ex, esse sed veritatis!</p> {% endcomment %}
                            </div>

                            <div class="tl-event-details-faq tl-event-details-area">
                                <h3 class="tl-event-details-area-title">Things you'll get to learn from this course</h3>

                                <div class="tl-8-accordion">
                                    {% for skill in skills %}
                                    <div class="tl-8-accordion-item open">
                                        <div class="tl-8-accordion-item-header">
                                            <h6 class="tl-8-accordion-item-title">{{ skill.skill_title }}</h6>
                                            <span class="tl-8-accordion-item-expand-icon"></span>
                                        </div>

                                        <p class="tl-8-accordion-item-body">
                                            {{ skill.skill_description|safe }}
                                        </p>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="curriculum-tab-pane" role="tabpanel" aria-labelledby="curriculum-tab" tabindex="0">
                            <div class="accordion" id="accordionExample">
                                {% for curric in curriculums %}
                                <div class="tl-event-details-area tl-course-details-curriculum">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{ curric.curiculum_title}}
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            
                                            <a href="#" class="tl-course-details-content">
                                                <span class="tl-course-details-content-left">
                                                    <i class="fa-regular fa-video"></i> {{ curric.curiculum_description|safe }}
                                                </span>

                                                <span class="tl-course-details-content-right">
                                                    {% comment %} <span class="tl-course-details-duration">{{single_course.duration}}</span> {% endcomment %}
                                                    <span class="tl-course-details-availability"><i class="fa-regular fa-lock-open"></i></span>
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% comment %} <div class="tab-pane fade" id="instructor-tab-pane" role="tabpanel" aria-labelledby="instructor-tab" tabindex="0">
                            <div class="tl-course-details-instructor tl-event-details-area">
                                <div class="tl-course-details-instructor-heading">
                                    <img class="tl-course-details-instructor-img" src="assets/images/tl-2/teacher-1.jpg" alt="instructor Image">

                                    <div class="tl-course-details-instructor-info">
                                        <h5 class="tl-course-details-instructor-name"><a href="staff-profile.html">Brian Cumin</a></h5>
                                        <h6 class="tl-staff-profile-role">Sr. Instructor at Talim</h6>
                                        <ul class="tl-course-details-instructor-socials">
                                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tl-course-details-instructor-txt">
                                    <p class="tl-course-details-instructor-intro">Hello! I'm Brian Cumin, your guide in the "Mastering English Speaking" course. As a seasoned language enthusiast with 03+ years of experience, I'm here to help you unlock the world of fluent English communication. Get ready to embark on an exciting journey where we'll build essential skills, explore diverse topics, and boost your confidence in speaking English. Let's make this learning experience impactful and enjoyable together. Ready to get started? Let's dive in!</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                            <div class="tl-event-details-area tl-course-details-review">
                                <div class="tl-course-details-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>

                                <p class="tl-2-testimony-txt">
                                    It was my immense luck and fortune to be a part of Educlab University where I can grow. The entire faculty & department leaves no stone unturned to shape one's future in my four years.
                                </p>

                                <div class="tl-2-testimony-reviewer">
                                    <img src="assets/images/tl-2/reviewer-2.jpg" alt="Person" class="tl-2-testimony-reviewer-img">
                                    <div class="tl-2-testimony-reviewer-info">
                                        <h6 class="tl-2-testimony-reviewer-name">Alan Corey</h6>
                                        <p class="tl-2-testimony-reviewer-label">B.Tech - Civil, 2015 - 2020</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tl-event-details-area tl-course-details-review">
                                <div class="tl-course-details-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>

                                <p class="tl-2-testimony-txt">
                                    It was my immense luck and fortune to be a part of Educlab University where I can grow. The entire faculty & department leaves no stone unturned to shape one's future in my four years.
                                </p>

                                <div class="tl-2-testimony-reviewer">
                                    <img src="assets/images/tl-2/reviewer-1.jpg" alt="Person" class="tl-2-testimony-reviewer-img">
                                    <div class="tl-2-testimony-reviewer-info">
                                        <h6 class="tl-2-testimony-reviewer-name">Brian Cumin</h6>
                                        <p class="tl-2-testimony-reviewer-label">B.Tech - Civil, 2015 - 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>

                <!-- top courses -->
                {% comment %} <div class="tl-event-details-left mt-30">
                    <div class="tl-course-details-top-courses tl-event-details-area mt-0">
                        <h3 class="tl-event-details-area-title">Top Courses from the same instructor</h3>

                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="tl-1-course">
                                    <div class="tl-1-course-img">
                                        <img src="assets/images/tl-13/about-img.jpg" alt="Course Image">
                                        <span class="tl-1-course-price">{{ single_course.price }}</span>
                                    </div>

                                    <div class="tl-1-course-txt">
                                        <span class="tl-1-course-author">By <a href="#">Brian Cumin</a></span>
                                        <h4 class="tl-1-course-title"><a href="#">Teaching Math and Science Inquiry-Based Approaches</a></h4>
                                        <div class="tl-1-course-stats">
                                            <div class="tl-1-course-stat">
                                                <span class="tl-1-course-stat-icon"><i class="fa-regular fa-book-blank"></i></span>
                                                <span class="tl-1-course-stat-txt">6 Lessons</span>
                                            </div>

                                            <div class="tl-1-course-stat">
                                                <span class="tl-1-course-stat-icon"><i class="fa-regular fa-user-group"></i></span>
                                                <span class="tl-1-course-stat-txt">32 Students</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="tl-1-course">
                                    <div class="tl-1-course-img">
                                        <img src="assets/images/tl-12/event-2.jpg" alt="Course Image">
                                        <span class="tl-1-course-price">$53.00</span>
                                    </div>

                                    <div class="tl-1-course-txt">
                                        <span class="tl-1-course-author">By <a href="#">Brian Cumin</a></span>
                                        <h4 class="tl-1-course-title"><a href="#">Teaching Math and Science Inquiry-Based Approaches</a></h4>
                                        <div class="tl-1-course-stats">
                                            <div class="tl-1-course-stat">
                                                <span class="tl-1-course-stat-icon"><i class="fa-regular fa-book-blank"></i></span>
                                                <span class="tl-1-course-stat-txt">6 Lessons</span>
                                            </div>

                                            <div class="tl-1-course-stat">
                                                <span class="tl-1-course-stat-icon"><i class="fa-regular fa-user-group"></i></span>
                                                <span class="tl-1-course-stat-txt">32 Students</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>

            <!-- RIGHT SIDEBAR -->
            <div class="col-lg-4">
                <div class="tl-event-details-right">
                    <div class="tl-course-details-sidebar-heading">
                        {% comment %} <iframe src="https://www.youtube.com/embed/SEO9YPzSH-0?si=doOkRVmfpzt3BlZO" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}

                        <h3 class="tl-course-details-price">{{ single_course.price }} <span class="prev-price text-decoration-line-through">$200</span></h3>
                    </div>

                    <ul class="tl-event-details-infos">
                        <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-clock"></i> Duration:</span>
                            <span class="value">{{single_course.duration}}</span>
                        </li>
                        {% comment %} <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-video"></i> Video Lectures:</span>
                            <span class="value">90+</span>
                        </li> {% endcomment %}
                        {% comment %} <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-tv"></i> live Class</span>
                            <span class="value">10+</span>
                        </li> {% endcomment %}
                        <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-file-contract"></i> Quizzes:</span>
                            <span class="value">10+</span>
                        </li>
                        <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-user"></i> Enrolled:</span>
                            <span class="value">30+</span>
                        </li>
                        <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-bars-progress"></i> Level:</span>
                            <span class="value">{{single_course.level}}</span>
                        </li>
                        <li class="tl-event-details-info">
                            <span class="key"><i class="fa-regular fa-globe"></i> Language:</span>
                            <span class="value">{{single_course.language}}</span>
                        </li>
                    </ul>

                    <img class="tl-course-details-payment-methods" src="assets/images/card.png" alt="">

                    <a href="#" class="tl-def-btn tl-3-def-btn tl-event-details-book-btn">Enroll Now</a>
                </div>

                <div class="tl-event-details-right tl-upcoming-events">
                    <h3 class="tl-upcoming-events-title">Popular Courses</h3>
                    <div class="tl-upcoming-event tl-pop-course">
                        <img class="tl-upcoming-event-img" src="assets/images/tl-6/news-1.jpg" alt="event image">
                        <div class="tl-upcoming-event-txt">
                            <h4 class="tl-upcoming-event-title"><a href="event-details.html">Education Foster Inclusivity and Understanding.</a></h4>
                            <ul class="tl-2-blog-infos">
                                <li>By <a href="#">Dora max</a></li>
                                <li>$89.00</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tl-upcoming-event tl-pop-course">
                        <img class="tl-upcoming-event-img" src="assets/images/tl-6/news-3.jpg" alt="event image">
                        <div class="tl-upcoming-event-txt">
                            <h4 class="tl-upcoming-event-title"><a href="event-details.html">Education Foster Inclusivity and Understanding.</a></h4>
                            <ul class="tl-2-blog-infos">
                                <li>By <a href="#">Les Migaro</a></li>
                                <li>Free</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tl-upcoming-event tl-pop-course">
                        <img class="tl-upcoming-event-img" src="assets/images/tl-6/news-2.jpg" alt="event image">
                        <div class="tl-upcoming-event-txt">
                            <h4 class="tl-upcoming-event-title"><a href="event-details.html">Sducation Foster Inclusivity and Understanding.</a></h4>
                            <ul class="tl-2-blog-infos">
                                <li>By <a href="#">Alex jane</a></li>
                                <li>$29.99</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COURSE DETAILS END -->
{% endblock content %}