{% extends 'frontend/partials/base_pages.html' %}
{% load static %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block content %}
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb border-0 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">
                        {{program.program_name}}
                        </h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>Contact</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->
<!-- ACADEMIC SECTION STARTS HERE -->
<section style="margin-top: -50px" class="tl-5-academic">
    <div class="container">
        {% comment %} <h2 class="tl-5-section-title mtm-15">Academics</h2> {% endcomment %}
        <h2 class="tl-4-section-title">All <span class="last-word">{{program.program_name}}</span></h2>

        <div class="row g-lg-4 g-3">
            
            {% for course in courses %}
            <div class="col-12">
                <div class="tl-8-course">
                    <div class="tl-8-course-img">
                        <img src="{{ course.cover_image.url }}" alt="Course Image">
                    </div>

                    <div class="tl-8-course-txt">
                        <div class="tl-8-course-info">
                            <span class="tl-8-course-price">{{ course.price }}</span>
                            <span class="tl-8-course-level"><i class="fa-sharp fa-solid fa-signal-bars-good"></i>{{ course.level }}</span>
                        </div>

                        <h3 class="tl-8-course-title">{{ course.course_name }}</h3>
                        <p class="tl-8-course-descr">{{ course.description|safe }}</p>

                        <div class="tl-8-course-parts">
                            <div class="tl-8-course-part">
                                <img src="{% static 'frontend/assets/images/tl-8/service-1.png' %}" alt="course part icon">

                                <div class="tl-8-course-part-txt">
                                    <h6 class="tl-8-course-part-title">Theory Session</h6>
                                    <h6 class="tl-8-course-part-duration">04 Hours</h6>
                                </div>
                            </div>

                            <div class="tl-8-course-part">
                                <img src="{% static 'frontend/assets/images/tl-8/service-2.png' %}" alt="course part icon">

                                <div class="tl-8-course-part-txt">
                                    <h6 class="tl-8-course-part-title">Theory Session</h6>
                                    <h6 class="tl-8-course-part-duration">04 Hours</h6>
                                </div>
                            </div>
                        </div>

                        <a href="{{ course.get_url }}" class="tl-def-btn text-white">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</section>
<!-- ACADEMIC SECTION ENDS HERE -->


<!-- PAGINATION START -->
<div class="container">
    <div class="tl-pagination tl-pagination-3 pb-130">
        {% if courses.has_previous %}
            <a href="?page=1" class="tl-pagination-prev"><i class="fa-arrow-left fa-regular"></i></a>
        {% endif %}

        <ul class="page-numbers">
            {% comment %} <li><a href="#">01</a></li> {% endcomment %}
            {% for i in courses.paginator.page_range %}
            {% if courses.number == i %}
            <li><a href="#" class="active">{{i}}</a></li>
            {% else %}
                <li><a href="?page={{i}}" class="active">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            
        </ul>

        {% comment %} <ul class="page-numbers">
            {% for num in courses.paginator.page_range %}
                <li><a href="?page={{ num }}" {% if num == courses.number %}class="active"{% endif %}>{{ num }}</a></li>
            {% endfor %}
        </ul> {% endcomment %}

        {% if courses.has_next %}
            <a href="?page={{ courses.next_page_number }}" class="tl-pagination-next"><i class="fa-arrow-right fa-regular"></i></a>
        {% endif %}
    </div>
</div>
<!-- PAGINATION END -->
{% endblock content %}
