{% load static %}
<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="http://DexignLab.com/" target="_blank">DexignLab</a> 2022</p>
    </div>
</div>