{% load static %}
<div class="nav-header">
    <div style="text-align:center;margin-left: -50px; padding-top: 15px" class="logo">
        <a href="/dashboard">
            <img src="{% static 'frontend/assets/images/logo/sakacom-logo.png' %}" alt="Logo">
        </a>
    </div>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>