{% load static %}
<div class="dlabnav">
    <div class="dlabnav">
        <ul class="metismenu" id="menu">
            {% if perms.users.view_customuser or perms.auth.view_group or perms.auth.view_permission %}
                <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Modules</span>
                    
                </a>
                <ul aria-expanded="false">
                    {% if perms.users.view_customuser or perms.users.change_customuser or perms.users.add_customuser or perms.users.delete_customuser %}
                    <li><a href="{% url 'vora:users' %}">Users</a></li>
                    {% endif %}
                    {% if perms.auth.view_group or perms.auth.change_group or perms.auth.add_group or perms.auth.delete_group %}
                    <li><a href="{% url 'vora:groups' %}">Groups</a></li>
                    {% endif %}
                    {% if perms.auth.view_permission or perms.auth.change_permission or perms.auth.add_permission or  perms.auth.delete_permission%}
                    <li><a href="{% url 'vora:permissions' %}">Permissions</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-internet"></i>
                <span class="nav-text">Sections</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="{% url 'vora:slider_view' %}">Slider</a></li>
                <li><a href="{% url 'vora:award_view' %}">Awards</a></li>
                <li><a href="{% url 'vora:course_program_view' %}">Programs</a></li>
                <li><a href="{% url 'vora:skill_view' %}">Skill To Learn</a></li>            
                <li><a href="{% url 'vora:curriculum_view' %}">Curriculum</a></li>
                <li><a href="{% url 'vora:student_testimonial_view' %}">Testimonials</a></li>            
          
            </ul>
        </li>
            
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'vora:about_view' %}">About</a></li>
                    <li><a href="{% url 'vora:event_view' %}">Event</a></li>
                    <li><a href="{% url 'vora:course_view' %}">Courses</a></li>
                    <li><a href="{% url 'vora:student_consultation_view' %}">Student Consultations</a></li>


                    {% comment %} <li><a href="{% url 'vora:ui-button' %}">Button</a></li>
                    <li><a href="{% url 'vora:ui-modal' %}">Modal</a></li>
                    <li><a href="{% url 'vora:ui-button-group' %}">Button Group</a></li>
                    <li><a href="{% url 'vora:ui-list-group' %}">List Group</a></li>
                    <li><a href="{% url 'vora:ui-media-object' %}">Media Object</a></li>
                    <li><a href="{% url 'vora:ui-card' %}">Cards</a></li>
                    <li><a href="{% url 'vora:ui-carousel' %}">Carousel</a></li>
                    <li><a href="{% url 'vora:ui-dropdown' %}">Dropdown</a></li>
                    <li><a href="{% url 'vora:ui-popover' %}">Popover</a></li>
                    <li><a href="{% url 'vora:ui-progressbar' %}">Progressbar</a></li>
                    <li><a href="{% url 'vora:ui-tab' %}">Tab</a></li>
                    <li><a href="{% url 'vora:ui-typography' %}">Typography</a></li>
                    <li><a href="{% url 'vora:ui-pagination' %}">Pagination</a></li>
                    <li><a href="{% url 'vora:ui-grid' %}">Grid</a></li> {% endcomment %}

                </ul>
            </li>
            <li>
                <a href="{% url 'vora:update_settings' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Settings</span>
                </a>
            </li>

            {% comment %} <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-heart"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'vora:uc-select2' %}">Select 2</a></li>
                    <li><a href="{% url 'vora:uc-nestable' %}">Nestedable</a></li>
                    <li><a href="{% url 'vora:uc-noui-slider' %}">Noui Slider</a></li>
                    <li><a href="{% url 'vora:uc-sweetalert' %}">Sweet Alert</a></li>
                    <li><a href="{% url 'vora:uc-toastr' %}">Toastr</a></li>
                    <li><a href="{% url 'vora:map-jqvmap' %}">Jqv Map</a></li>
                    <li><a href="{% url 'vora:uc-lightgallery' %}">Light Gallery</a></li>
                </ul>
            </li> {% endcomment %}
            {% comment %} <li><a href="{% url 'vora:widget-basic' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'vora:form-element' %}">Form Elements</a></li>
                    <li><a href="{% url 'vora:form-wizard' %}">Wizard</a></li>
                    <li><a href="{% url 'vora:form-editor-ckeditor' %}">Form CkEditor</a></li>
                    <li><a href="{% url 'vora:form-pickers' %}">Pickers</a></li>
                    <li><a href="{% url 'vora:form-validation' %}">Jquery Validate</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'vora:table-bootstrap-basic' %}">Bootstrap</a></li>
                    <li><a href="{% url 'vora:table-datatable-basic' %}">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">

                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'vora:page-error-400' %}">Error 400</a></li>
                            <li><a href="{% url 'vora:page-error-403' %}">Error 403</a></li>
                            <li><a href="{% url 'vora:page-error-404' %}">Error 404</a></li>
                            <li><a href="{% url 'vora:page-error-500' %}">Error 500</a></li>
                            <li><a href="{% url 'vora:page-error-503' %}">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'vora:page-lock-screen' %}">Lock Screen</a></li>
                </ul>
            </li> {% endcomment %}
        </ul>
        {% comment %} <a class="add-menu-sidebar" href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#addOrderModalside" >+ New Project</a> {% endcomment %}
        <div class="copyright">
            <p><strong>Sakacom Admin Dashboard</strong> © 2024 All Rights Reserved</p>
            <p style="font-size:13px">Made with <span class="heart"></span> by<a href="#" target="_blank"> Benanosstech</a></p>
        </div>
    </div>
</div>